#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.about-title {
    color: var(--white, #FFF);

    /* H2 */
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.56px;

    text-align: left;
}

.about-paragraph {
    color: var(--white, #FFF);

    /* H4 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.about-paragraph div {
    margin: 30px;
}

.about-paragraph div div img {
    width: '150px';
    height: '150px';
}

.about-counters-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}


.about-counter {
    color: var(--purple, #9F95FF);

    /* H2 */
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.56px;

    padding: 0 30px 0 30px;
    text-align: left;
    padding: 0 0 15px 0;
}

.about-counter-box {
    max-width: 300px;
}

.about-counter-subtitle {
    color: var(--white, #FFF);

    /* H4 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
}

.about-footer {
    display: flex;
    justify-content: space-between;

}

.social-logos {
    display: flex;
    gap: 10px;
}

.social-logo {
    width: 25px;
    height: 25px;
}

.footer-link {
    text-align: left;
}

.topnav {

    background-color: #000;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;

    color: var(--white, #FFF);

    /* default */
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 200% */
    letter-spacing: -0.16px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Right aligned (split) link inside the nav bar */

.topnav a.split {
    float: right;
    background-color: #3f8cf1;
    color: white;
}

.order-button {
    margin: 12px 0 0 0;
    border-radius: 50px;
    border: 3px solid;

}

.lang-button {
    background-color: #000000;
    margin: 10px 0 0 0;
}

.lang-button div {
    display: inline-block;
    position: relative;
    top: -6px;
    font-size: 17px;
    font-weight: bold;
}

.lang-button img {
    margin: 0 7px 0 0;
}

body {
    font-size: 25px;
}

.Aligner {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 16px;
}

.Aligner-item {
    max-width: 50%;
    padding: 1%;
}

.navbar-outer {
    display: flex;
    height: 64px;
    padding: 0 96px;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: stretch;
    justify-content: right;
    padding: 0 20px 0 0;
}